@media(min-width:767px) and (max-width: 995px){
    
    .container{
        width: 85%;
        gap: 4%;
    }

    .texts h3{
        font-size: 16px;
        line-height: 24px;
    }
    
    .texts p{
        line-height: 22px;
        font-size: 12px;
    }
    .pic-and-name{
        gap: 10px;
    }
    
    .avatar{
        width: 35px;
    }
    
    .name h5{
        line-height: 20px;
        font-size: 12px;
    }
    
    .name span{
        font-size: 11px;
    }
}

@media(max-width: 767px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 88%;
    }
    
    .drawers{
        width: 100%;
    }
    
    .texts{
        width: 100%;
        padding: 6%;
        text-align: center;
    }
    
    .texts h3{
        font-size: 15px;
        line-height: 25px;
    }
    
    .texts p{
        line-height: 22px;
        font-size: 12px;
    }
    
    .pic-and-name{
        gap: 13px;
    }
    
    .avatar{
        width: 35px;
    }

    .name{
        text-align: start;
    }
    
    .name h5{
        font-size: 13px;
    }
    
    .name span{
        font-size: 11px;
    }

    .share{
        right: 0px;
        top: 0;
        width: 100%;
        display: block;

    }

    button{
        z-index: 1;
    }
    
}